*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex(busy)
*.synctex.gz
*.toc
*.xdv
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.lot
*.nav

build/
icp-survey.pdf
icp-survey.tex
icp-survey.rendered.md
icp-survey.html
icp-survey.mid.test.md
icp-survey.mid.md.bak*